/* Fixed Header */
.header {
  position: fixed;
  top: 0;
  height: 125px;
  width: 100%;
  background-color: #262626; 
  display: flex;
  align-items: center;
  justify-content: space-between; /* Pushes logo, title, and login apart */
  padding: 0 20px;
  z-index: 1000;
  }
.logo {
    height: 8em;    
  }
/* Title Centered */
.header-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
.header-login {
  padding-right: 15px;
}  
/* Login Box */
.login {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

/* Input container */
.login-input {
  display: flex;
  gap: 10px;

}

/* Input fields */
.login-input input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ff7b00;
  outline: none;
}

/* Fixed NavBar directly below Header */
.NavBar {
  position: fixed;
  width: 100%;
  background-color: #ff7b00 !important;
  justify-content: center;
  top: 125px;
  height: 50px;
  z-index: 999;
}

/* Navbar Links */
.NavBar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}
.NavBar ul li a {
  padding: 1em;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.NavBar ul li a.active {
  font-weight: bold;
}
.app-container {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  margin-top: 185px;
  justify-content: center;
}
/* footer a:hover{
  color:#ff7b00;
}
.footer{
  background-color: #262626;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto; 
  width: 100%;
} */
/* Footer Styling */
.footer-container {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: relative;
  bottom: 0;
}

/* Social Media Icons */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.social-icons a {
  /* color: #ff7b00; Orange color */
  font-size: 24px;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ff7b00; 
}

/* Footer Text */
.footer-text {
  font-size: 14px;
  margin-top: 10px;
}